services:
    # PHP-FPM
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        restart: unless-stopped
        working_dir: /var/www/html
        environment:
            APP_ENV: development
            DB_CONNECTION: mysql
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: "${DB_DATABASE}"
            DB_USERNAME: "${DB_USERNAME}"
            DB_PASSWORD: "${DB_PASSWORD}"
            REDIS_HOST: redis
            REDIS_PASSWORD: null
            REDIS_PORT: 6379
        volumes:
            - ./:/var/www/html # Dev: mount code for hot reload
        env_file:
            - ./.env
        depends_on:
            - mysql
            - redis
        networks:
            - laravel

    # Nginx
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "80:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx:/etc/nginx/conf.d
        depends_on:
            - app
        networks:
            - laravel

    # MySQL
    mysql:
        image: mysql:8.0
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: "${DB_DATABASE}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - laravel

    # Redis
    redis:
        image: redis:7-alpine
        restart: unless-stopped
        ports:
            - "6379:6379"
        networks:
            - laravel

networks:
    laravel:

volumes:
    mysql_data:
